<h2>True North Assignment</h2>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- Column -->
        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{col}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row[col]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" (contextmenu)="onContextMenu($event)"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; ">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100] "></mat-paginator>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu"></div>

<mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let name of getUniqueName" (click)="applyFilter($event.target.innerText)">{{name}}</button>
    </ng-template>
</mat-menu>